.flip-container {
    perspective: 1500px;
    position: absolute;
    overflow: hidden;
}
/* 翻转180 */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 980px;
    height: 500px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: white;
}
.back {
    transform: rotateY(180deg);
    background-color:lightskyblue;
}