#popUp {
    background-color: rgba(19, 123, 255, 0.5);
    color: black;
    width: 130px;
    height: 45px;
    position: absolute;
    z-index: 99999;
    font-weight: bold;
    font-size: 13px;
    line-height:21px;
    font-family:"SimHei";
    border-radius:5px;
}